
#title {
  color: red;
  background-color: red;
  padding: 32px;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  margin: 16px auto;
  color: white;
}


.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}



.bold {
  font-weight: bold;
}
