@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .cafe-feature {
    margin: 32px auto!important;
  }

  .cafe-information {
    width: 100%;
  }

  .cafe-menu {
    padding: 0;
  }

  .cafe-menu-inner {
    width: 100%;
  }

  .cafe-map {
    width: 100%;
  }
}

@media screen and (max-width: 785px) {
  .cafe-features {
    margin-left: 16px;
    margin-right: 16px;
  }

  .cafe-information-column-right {
    border-left: 0;
  }

  .cafe-description {
    width: 100%;
    padding: 0 32px 32px 32px;
  }

  .cafe-feature {
    padding: 24px;
  }

  .footer p {
    text-align: center;
    font-size: 0.6em;
  }
}
